<div class="row">
  <div class="col-md-6 col-md-offset-3 bg-form">
    <h2><%= t(".sign_up") %></h2>
    <div id="sign-up-form">
        <%= render "devise/registrations/sign_up_form" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
