<% if @course.errors.any? %>
  <div id="error_explanation col-md-12">
    <ul class="row">
      <% @course.errors.full_messages.each do |message| %>
        <li class="col-md-6"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
