DATABASE_USER_NAME: username
DATABASE_PASSWORD: password
DATABASE_HOST: host
MYSQL_ROOT_PASSWORD: "YOUR_MYSQL_ROOT_PASSWORD"
GOOGLE_CLIENT_ID: "YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET: "YOUR_GOOGLE_CLIENT_SECRET"
FACEBOOK_ID: "YOUR_FACEBOOK_ID"
FACEBOOK_SECRET: "YOUR_FACEBOOK_SECRET"
