<div class="container">
  <div class="index-job">
    <div class="row">
      <div id="show-search"></div>
      <div id="hide-search">
        <%= render "job_posts/search" %>
      </div>
    </div>
    <div id="show-jobs"></div>
    <div id="hide-jobs">
      <%= render "job_posts/card_index" %>
    </div>
  </div>
</div>
