/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  margin-bottom: 20px;
  .content {
    h3 {
      font-weight: 600;
      font-size: 26px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    ul li {
      padding-bottom: 10px;
    }
    ul i {
      font-size: 20px;
      padding-right: 4px;
      color: #5fcf80;
    }
    .learn-more-btn {
      background: #5fcf80;
      color: #fff;
      font-size: 14px;

      display: inline-block;
      border-radius: 50px;
      padding: 8px 25px 9px 25px;
      white-space: nowrap;
      transition: 0.3s;
    }
    .learn-more-btn:hover {
      background: #3ac162;
      color: #fff;
    }
  } 
}
.font-italic {
  font-style: italic!important;
}

@media (max-width: 768px) {
  .about .content .learn-more-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}
