/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

#hero {
  width: 100%;
  height: 80vh;

  background-image: image-url('hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
  background-size: cover;

  position: relative;
  .container {
    padding-top: 72px;
  }
  h1 {
    margin: 0;

    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  h2 {
    font-size: 24px;
    color: #eee;

    margin: 10px 0 0 0;
  }
  .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;

    color: #fff;
    letter-spacing: 1px;

    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    
  }
  .btn-get-started:hover {
    background: #5fcf80;
    border: 2px solid #5fcf80;
  }
} 

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media #{$tablet} {
  #hero .container {
    padding-top: 62px;
  }
}

@media #{$tablet} {
  #hero {
    background-attachment: fixed;
  }
}

@media #{$tablet} {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
