/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses {
  margin-top: 10px;
  img {
    width: 100%;
  }
  .course-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    border-radius: 5px;
    border: 1px solid #eef0ef;
    .course-content {
      padding: 15px;
      h3 {
        font-weight: 700;
        font-size: 20px;
        min-height: 50px;
      }
      h3 a {
        color: #37423b;
        transition: 0.3s;
      }
      h3 a:hover {
        color: #5fcf80;
      }
      p {
        height: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 20px;
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      h4 {
        font-size: 14px;
        background: #5fcf80;
        padding: 7px 14px;
        color: #fff;
        margin: 0;
      }
    }
  }
  .course-item:hover {
  background: white !important;
  border-color: transparent;
  transform:translateY(-5px);
  box-shadow:0 10px 20px rgba(188,188,188,.8);
  z-index:1;
}
  .course-info {
    padding-top: 15px;
    border-top: 1px solid #eef0ef;
  }
}

// Show-course
.show-course {
  padding-top: 20px;
  margin-top: 20px;
  img {
    width: 100%;
  }
  .course-item {
    box-shadow:0 10px 20px rgba(188,188,188,.8);
    z-index:1;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    border-radius: 5px;
    border: 1px solid #eef0ef;
    .course-content {
      padding: 15px;
      h4 {
        font-size: 14px;
        background: #5fcf80;
        padding: 7px 14px;
        color: #fff;
        margin: 0;
      }
    }
    .course-info {
      padding-top: 15px;
      border-top: 1px solid #eef0ef;
    }
  }
  .course-title h3 {
    font-weight: 700;
    font-size: 26px;
  }
  .course__item {
    box-shadow:0 10px 20px rgba(188,188,188,.8);
    padding: 20px;
    .course-overview {
      min-height: 297px;
    }
  }

}

// index-course
.courses-index {
  margin-top: 40px;
}

// new-course, edit-course
.new-course, .edit-course {
  margin-top: 40px;
  padding: 20px;
  box-shadow:0 10px 20px rgba(188,188,188,.8);
}

// common course
.course-info-icon {
  font-size: 18px;
  color: #657a6d;
  .item-icon {
    margin-right: 15px;
  }
}
.btn-index-course {
  text-align: center;
  margin-bottom: 10px;
  .btn {
    margin-right: 5px;
  }
}

// course tabs
section {
  padding: 30px 10px;
}
#tabs{
  color: #000;
  width: 100%;
  margin: 15px;
  box-shadow:0 10px 20px rgba(188,188,188,.8);
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #007b5e;
  border: 1px solid #dee2e6;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #5fcf80;
  font-size: 20px;
}

// fix course-img
.course-img {
  width: 100%;
  height: 295px;
}
.img-fluid {
  width: 100%;
  height: 100% !important;
}

// show course 
#course-actions {
  i.course-like {
    cursor: pointer;
  }
  i.active {
    color: red ;
  }
  i {
    color: #ddd;
  }
}

// like course
.fa-2x {
  font-size: 30px !important;
}
