@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "footer";
@import "candidate";
@import "job_post";
@import "employer";
@import "header_root";
@import "bootstrap-datetimepicker";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 500px;
}

.container-fluid {
  padding: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

@media (max-width: 999px) {
  .footer {
    height: 500px;
  }
}

// custom common
.bg-form {
  box-shadow: 0 16px 50px 0 rgba(42, 35, 35, 0.2);
  background-color: #f5f5f5;

  padding-bottom: 20px;
  margin-top: 20px;
}

// custom alert
.alert {
  margin-top: 20px;
}

// back to top
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display:none;
  z-index: 1;

  outline: 0;
  border: 0;
  cursor: pointer;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}
