@import "font-awesome-sprockets";
@import "font-awesome";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: sans-serif;
  color: #444444;
}

.container-fluid {
  padding: 0px;
}

a {
  color: #5fcf80;
}

a:hover {
  color: #86db9f;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

.main {
  padding-top: 55px;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-position: right calc(0.375em + 0.8rem) center !important;
}
.was-validated .form-control:valid, .form-control.is-valid {
  background-position: right calc(0.375em + 0.8rem) center !important;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background:  #5fcf80;
  border-radius: 50%;

  display:none;
  z-index: 1;

  outline: 0;
  border: 0;
  cursor: pointer;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}
button.back-to-top:hover {
  background: #3ac162;
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  
  border: 6px solid #5fcf80;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.paginate {
  margin: 0px auto;
  .page-item.active .page-link {
    background-color: #5fcf80;
    border-color: #5fcf80;
  }
  .page-link {
    color: #5fcf80;
  }
}

/*--------------------------------------------------------------
# notification 
--------------------------------------------------------------*/
.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-alert {
  @extend .alert;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-notice {
  @extend .alert;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
