// Form check remember me
.form-check {
  label.form-check-label {
    margin-left: 10px;
  }
}

.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 90%;
  color: #dc3545;
}
// sign up

#error_message{
  position: center;
}

.form-inputs{
  margin-top: 10px;
}

#error_explanation{
  margin-left: 10px;
}
