// view show
.headers-company {
  box-shadow: 0 16px 50px 0 rgba(42, 35, 35, 0.2);
  background: #f5f5f5;
  min-height: 240px;

  padding-top: 20px;
  margin-top: 20px;
  .logo-company {
    width: 200px;
    height: 100%;
    margin: 0px auto;
    .image-logo {
      width: 100%;
      height: auto;
    }
  }
  .info-company {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
    .company-name {
      color: #353535;
      line-height: 35px;
      font-size: 32px;

      margin: 0px;
      padding-bottom: 10px;
    }
  }
  .btn-company {
    width: 90%;
    margin: auto;

    padding-top: 42px;
    padding-bottom: 10px;
  }
}

.main-company {
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 16px 50px 0 rgba(42, 35, 35, 0.2);
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: #e70c0c;
  }
}
.nav-tabs > li > a {
  color: #331d1d;
  font-size: 18px;
  line-height: 1.428571429;

  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0; 
}

@media (max-width: 767px) {
  .headers-company {
    .btn-company {
      width: 60%;
    }
  }
}

// view edit
.edit-employer {
  box-shadow: 0 16px 50px 0 rgba(42, 35, 35, 0.2);
  background: #f5f5f5;

  padding: 0px 20px;
  margin-top: 20px;
  .btn-cancel {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.show-employer{
  .info-edit {
    text-align: center;
    padding: 20px 0px ;
  }
  .company-description {
    text-align: left;
    padding: 0px 10px;
    p {
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
    }
  }
  .btn-company {
    padding-top: 10px;
  }
}

// View index 
.employer-index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 20px;
  
  .employer {
    min-height: 250px;
    box-shadow: 0 10px 20px 0 rgba(42, 100, 35, 0.2); 

    border-left: 0;
    border-top: 0;
    border: solid 1px #cccccc;
    margin-right: 30px;
    margin-bottom: 30px;

    .title {
      font-size: 20px;
      color: #333;
      a {
        text-decoration: none;
      }
    }
  }
  .info {
    background: #ededed;
    width: 100%;
    min-height: 130px;
    padding: 10px;
  }

  .employer-thumb {
    height: 220px;
    overflow: hidden;
    padding: 15px;
    img {
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .btn-index {
    margin-top: 5px;
    text-align: center;
  }
}
