/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
  .nav-item a {
    color: #37423b;
  }
  button {
    background: #3ac162;
  }
}

#header .logo {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: #5fcf80;

}

.nav-link {
  display: block;
  padding: 0.5rem 15px 0.5rem 0px !important;
}

/* Get login Button */
.get-login-btn {
  background: #5fcf80;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block !important;
  margin-left: 16px;
}

.get-login-btn:hover {
  background: #3ac162;
  color: #fff;
}

.navbar-nav a {
  display: block;
  position: relative;
  color: #37423b;
  transition: 0.3s;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
}

.navbar-nav a:hover, .navbar-nav .active > a, .navbar-nav li:hover > a {
  color: #5fcf80 !important;
}
.navbar-nav .get-login-btn:hover {
  color: #ffffff !important;
}

li.dropdown {
  margin-right: 8px;
}

@media #{$tablet} {
  #header .logo {
    font-size: 28px;
  }
  .get-started-btn {
    margin-left: 0px;
    padding: 6px 18px;
  }
  li.dropdown {
    margin-bottom: 15px;
  }

}

li.flag {
  display: inline-block;
  padding-top: 7px;
  padding-right: 10px;
}
