.navbar {
  background:rgba(0,0,0,0);
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  
  z-index: 9999;
  letter-spacing: 4px;

  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-brand {
        font-weight: 500;
        font-size: 30px;
        color: #fff !important;
  }
  li a, .navbar .navbar-brand {
    font-size: 15px;
    font-weight: 500;
    color: #fff !important;
  }
  li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
  }
}
.bg-dark {
  background:#26272b;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background:rgba(0,0,0,0);
}
.dropdown-menu {
  background:rgba(0,0,0,0.4);
}

.templatemo-nav {
  border-radius: 0;
  width: 100%;
  z-index: 1000;
}
.sticky {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #26272b;
}
/* end navigation */
