/* start home */
#home
	{
		position: relative;

		background-image: image-url('hero_2.jpg');
    background-repeat: no-repeat;
    background-position: top center;
		background-size: cover;

		padding-top: 160px;
		padding-bottom: 100px;
		min-height: 100vh;
		
	}
/* end home */
