.card-job {
  position: relative;
  background-color: white;
  border: 1px solid #66ffff;
  margin: 5px;
  .job-title {
    margin-left: 10px;
    .job-type {
      position: relative;
      top: -4px;

      color: #E76560;
      padding-left: 5px;

      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .card-body {
      margin-left: 10px;
  }
  .apply-btn {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
