.video-form{
  margin-top: 30px;
}

.quiz-element{
  .correct-answer{
    margin-top: 12px;
    margin-left: 32px;
  }
}

.label-option{
  text-align: center;
}

.option-answer{
  margin-bottom: 10px;
  .row{
    flex-flow: row;
  }
}

.form-quiz{
  input{
    margin-right: 0px;
  }
}

.remove-answer{
  text-align: left;
}

.lesson-box{
  margin: 0px 0px;
  max-width: 100%;
}

.btn-add-option{
  font-size: 16px;
  margin-top: 10px;
}

.btn-add-option{
  margin-left: 16.5%;
}

.remove-lesson{
  text-align: right;
  margin-top: 5px;
}

.correct-answer{
  margin-left: 20px !important;
  margin-bottom: 5px;
}

.label-option{
  text-align: right;
  margin-top: 8px;
}

.input-answer{
  margin-left: 9.8%;
}

.btn-add-lesson{
  width: 150px;
  margin-right: 10px;
  margin-left: 5px;
}

.btn-submit-course{
  width: 150px;
}

.lesson-name-collapse{
  white-space: nowrap;
  width: inherit;
  line-height: 20px;
  height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lesson-content{
  margin-left: auto;
}

.lesson-lock{
  margin-left: auto;
}

.lesson-item{
  white-space: nowrap;
  line-height: 20px;
  height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3b424a;
}

.lessons-list{
  height: 80vh;
  overflow: scroll;
}

.radio-lesson-type{
  margin-left: 10px;
  margin-bottom: 12px;
}

.card-lesson-show{
  border-radius: 0px;
  margin-bottom: 5px;
}

.form-actions{
  margin-bottom: 3%;
}

.quiz-form{
  margin-bottom: 0px;
}
