.video-form{
  margin-top: 30px;
}

.quiz-element{
  .correct-answer{
    margin-top: 12px;
    margin-left: 32px;
  }
}

.label-option{
  text-align: center;
}

.option-answer{
  margin-bottom: 10px;
  .row{
    flex-flow: row;
  }
}

.quiz-form{
  margin-bottom: 0px;
.form-quiz{
  input{
    margin-right: 0px;
  }
}

.remove-answer{
  text-align: left;
}

.lesson-box{
  margin: 0px 0px;
  max-width: 100%;
}

.btn-add-option{
  font-size: 16px;
  margin-top: 10px;
}

.btn-add-option{
  margin-left: 16.5%;
}

.remove-lesson{
  text-align: right;
  margin-top: 5px;
}

.form-check-input{
  margin-left: 20px !important;
  margin-bottom: 5px;
}

.label-option{
  text-align: right;
  margin-top: 8px;
}

.input-answer{
  margin-left: 9.8%;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> fix errors

.btn-add-lesson{
  width: 150px;
}

.btn-submit-course{
  width: 150px;
  margin-top: 5px;
}

.lesson-name-collapse{
  line-height: 20px;
  height: 27px;
  overflow: hidden;
}
<<<<<<< HEAD
=======
>>>>>>> create lessons
=======
>>>>>>> fix errors
