.modal-view-candidates{
  background-color: white;
  margin-top: 50px;
}

.modal-item{
  font-weight: bold;
}

.modal-show-candidate{
  margin-right: 5px;
  text-align: right;
}

.close-btn{
  margin-right: 2px;
  text-align: right;
}
