// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

.form{
  width: 400px;
  background: white;
  border-radius: 10px;
  padding: 20px 50px;
  margin: auto auto;
}

.text-box{
  overflow: hidden;
  padding: 8px 0;
  margin: 15px 0;
  border-bottom: 1px solid #4da222;
  font-size: 16px;
}

.text-box input{
  margin: 5px 10px;
  outline: none;
  border: none;
  background: white;
  color: #000;
}
.text-box i{
  width: 25px;
  margin: 5px 10px;
  float: left;
  text-align: center;
}

.btn-sign-up{
  padding: 8px 15px;
  border-radius: 30px;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 90%;
  color: #dc3545;
}
#errors-message {
  margin-top: 2px;
}

.body-box{
  background-image: url("sign_up_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.form-box{
  min-height: 100vh;
}

.btn-sign-in{
  margin: 0px 0px;
  .btn{
    border-radius: 1px;
  }
}

.form-title{
  border-bottom: 3px solid #4da222;
  display: table;
  h2{
    font-size: 40px;
    margin-bottom: 1px;
  }
}

.btn-sign-in .btn-success{
  margin-bottom: 5px;
  height: 40px;
}

.google-btn{
  text-transform: none;
  margin-bottom: 5px;
  width: 300px;
  height: 40px;
  padding: 0px 0px !important;
  background-color: blue;
}

.google-icon{
  display: table;
  width: 20px;
  height: 20px;
  margin: auto;
  width: 50%;
  height: 50%;
  margin-top: 10px;
}

.icon-box{
  margin: 0px;
  margin-left: 0px;
  width: 40px;
  height: 38px;
  background-color: white;
}

.btn-sign-in .row{
  margin: 0px 0px;
}

.google-login-text{
  color: white;
  margin-left: 50px;
  margin-top: 8px;
}

.google-btn:hover{
  background-color: #1a1ab9;
}

.btn-facebook{
  color: white;
  padding: 0px 0px;
  background-color: #4267b2;
  width: 300px;
  height: 40px;
  padding: 4px 5px;
<<<<<<< HEAD
  margin-bottom: 10px;
=======
  text-align-last: center;
>>>>>>> sign in with google and facebook
  i{
    font-size: 30px;
    float: left;
  }
  div{
    margin-top: 3px;
  }
}

.btn-facebook:hover{
  background-color: #2f498a;
  color: white;
}

<<<<<<< HEAD
.messages{
=======
.error{
>>>>>>> sign in with google and facebook
  margin-top: 5px;
}
